p{
    color: brown;
}

body {
    background-color: cyan !important;
}
hr {
    /* background-color: rgb(247, 245, 245) !important; */
    /* display: block; */
    /* margin-top: 0.5em; */
    /* margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto; */
    /* border-style: dotted;
    border-width: 74%; */
    /* height: 2px; */
    /* border-style: dotted none none; */
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    
    height: 0px;
    width: 3%;
}
h1 , h3 {
    /* background-color: yellow; */
    color: #66bfbf;
}